/* add home page styles here */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin-top: 10px;
}

hr.hash {
    border: 0;
    height: 12px;
    width: 100%;
    background-image: url("../lab-assets/hr-img.png");
    background-repeat: repeat;
    background-size: 4px 4px;
    background-color: #fff;
    overflow: hidden;
}

h2 {
    margin: 1px;
    font-size: 40px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    color: rgb(61, 61, 61);
}

h3 {
    font-size: small;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    margin: 0;
    color: rgb(150, 148, 148);
}

main {
    display:flex;
    flex-direction: column;
    max-width: 1000px;
}

.title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}

.print {
    align-self: flex-end;
    font-family: Oswald, sans-serif;
    color: rgb(150, 148, 148);
    text-transform: uppercase;
    font-size: small;
 
}